/*colors*/
$yellow: #FFEF0D;
$light-blue: #56D4FC;
$dark-blue: #01152D;

/*fontes*/
$exo: 'Exo', sans-serif;


/*sizes*/

$title: 28px;
$paragraph:20px;
$sub-title: 22px;
$small: 16px;
$post-font: 24px;

/*pesos*/

$semibold: 600;
$bold: 700;
$regular:500;
$light:300;